#vung1 {
  background-color: blue;
  color: yellow;
  height: 20px;
  border: 2px solid yellow;
}
#vung2 {
  background-color: yellow;
  color: red;
  height: 70px;
  border: 5px dashed red;
}
#vung3 {
  background-color: red;
  color: white;
  height: 20px;
  border: 3px double white;
}
