#vung1 {
  background-color: blue;
  color: yellow;
  height: 20px;
  border: 10px solid brown;
}
#vung2 {
  background-color: yellow;
  color: red;
  height: 70px;
  border: 10px solid skyblue;
}
#vung3 {
  background-color: red;
  color: black;
  height: 20px;
  border: 10px solid pink;
}
#vung1 img {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
}
